<!doctype>
<html>
	<head>
		<title>Studio 8502</title>
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
  		<link id="stylesheet" rel="stylesheet" href="default.css?reload">
  		<link rel="preload" href="/C64_Pro-STYLE.woff" as="font">
  		<link rel="preload" href="/C64_Pro-STYLE.woff2" as="font">
		<link rel="me" href="https://oldbytes.space/@mos_8502">

		<script src="/jquery-3.6.0.min.js"></script>
		<script type="text/javascript">
			/**
			* Forces a reload of all stylesheets by appending a unique query string
			* to each stylesheet URL.
			*/
			function reloadStylesheets() {
				var queryString = '?reload=' + new Date().getTime();
				$('link[rel="stylesheet"]').each(function () {
					this.href = this.href.replace(/\?.*|$/, queryString);
				});
			}
		</script>

	</head>
	<body onload="reloadStylesheets()">
		<header>
			<h1>Studio 8502</h1>
			<p>Retrocomputing Designers and Makers</p>
		</header>
		<header>
			<h2>Contact Us</h2>
			<ul>
				<li><a href="https://twitter.com/Studio8502">Twitter</a></li>
				<li><a href="https://oldbytes.space/web/@mos_8502">Mastodon</a></li>
				<li><a href="https://www.tindie.com/stores/studio8502/">Tindie Store</a></li>
			</ul>
			<p id="copyright">Copyright © 2022 Kyle Cardoza and Rebecca Buckingham. All rights reserved.</p>
		</header>
		<section id="bios">
			<h2>Who Are We?</h2>
			<section class="bio">
				<h3>Kyle Cardoza</h3>
				<p>Kyle has been in retrocomputing since he was a child. He enjoys coming up with new ways to use old hardware, not giving a toss about whatever the new hotness is in technology, and making cool things.</p>
			</section>
			<section class="bio">
				<h3>Rebecca Buckingham</h3>
				<p>Becky has been fascinated by computers since seeing a TRS-80 Model I at a Radio Shack in 1978. She is also interested in musical electronics.</p>
			</section>
		</section>
		<section id="content">
			{{ content }}
		</section>
	</body>
</html>